.section-map {
  position: relative;
  padding: 180px 0;

  &::before {
    content: "V";
    z-index: -1;
    right: calc(50% + 555px);
    transform: translate(50%, 0%);
    @include decorNumber;
    top: 180px;
    line-height: 1;

    @include mediaTablet {
      padding: 90px 0;
    }
  }
}

.section-map__title {
  margin-bottom: 88px;

  @include mediaTablet {
    margin-bottom: 44px;
  }
}

.section-map__map {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 1100px;
    min-height: 300px;
  }
}
